
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="col-md-6">
                    <div class="billing-details">
                        <p>Bạn đã có tài khoản? <a href="#">Đăng nhập</a></p>
                        <div class="section-title">
                            <h3 class="title">Đăng ký</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="name" placeholder="Họ tên khách hàng">
                            @ViewData["Loi1"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="account" placeholder="Tên đăng nhập">
                            @ViewData["Loi2"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="password" name="password" placeholder="Mật khẩu">
                            @ViewData["Loi3"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="password" name="password2" placeholder="Mật khẩu nhập lại">
                            @ViewData["Loi4"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email"/>
                            @ViewData["Loi5"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Địa chỉ" />
                            @ViewData["Loi6"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Điện thoại">
                            @ViewData["Loi7"]
                        </div>
                        <div class="form-group">
                            <input class="input" type="date" name="Ngaysinh"/>
                    
                        </div>     
                        <div class="btn-block">
                            <input type="submit" value="Đăng ký" />
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="register">
                                <label class="font-weak" for="register">Create Account?</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                    <p>
                                        <input class="input" type="password" name="password" placeholder="Enter Your Password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>