@using Coffee_MVC_DoAn.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Coffee_MVC_DoAn.Models.COFFEE>
@{
    ViewBag.Title = "Coffee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý thông tin Coffee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TenCF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Anhbia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Ngaycapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Soluongton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Khoiluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNSX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenCF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anhbia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoiluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNSX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCF }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCF }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCF })
        </td>
    </tr>
}

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))

</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>