
@using Coffee_MVC_DoAn.Models
@using PagedList.Mvc;
@model PagedList.PagedList<COFFEE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    @foreach (var coffee in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="product product-single">

                <div class="product-thumb">
                    <form method="get" action="@Url.Action("Details", "Coffee", new { id = coffee.MaCF})">
                        <button type="submit" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                    </form>
                    <img alt="@coffee.TenCF" src="~/Hinhsanpham/@coffee.Anhbia" />
                    @*<a href="@Url.Action("Details", "Coffee", new { id = coffee.MaCF})">*@
                </div>
                <div class="product-body">
                    <h3 class="product-price">@coffee.Giaban</h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                    <h2 class="product-name"><a href="@Url.Action("Details", "Coffee", new { id = coffee.MaCF})">@coffee.TenCF</a></h2>
                    <div class="product-btns">
                        <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i><a href="@Url.Action("ThemGiohang", "Giohang", new { @iMaCF = coffee.MaCF, @strURL=Request.Url.ToString() })">Đặt hàng</a></button>
                       
                    </div>
                </div>
            </div>
        </div>
    }
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>